* {
  margin: 0;
  padding: 0;
}

.card {
  width: 1200px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.image img {
  transition: all 0.5s;
}

.card:hover .image img {
  transform: scale(1.5);
}

.name {
  font-size: 22px;
  font-weight: bold;
}


.number {
  font-size: 22px;
}

.follow {
  font-size: 22px;
  font-weight: bold;
  color: #444444;
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500;
}

.icons i {
  font-size: 19px;
}

hr .new1 {
  border: 1px solid;
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold;
}

.date {
  background-color: #ccc;
}

@media (max-width: 500px) {
  .name {
    font: size 16px;
  }
  .number{
    font-size: 16px;
  }
  .follow{
    font-size: 16px;
  }
  .text span{
    font-size: 10px;
  }
  .icons i{
    font-size: 12px;
  }
  .join{
    font-size: 12px;
  }
  
}


@media (max-width: 400px) {
  .name{
    font-size: 14px;
  }
  .number{
    font-size: 14px;
  }
  .follow{
    font-size: 14px;
  }
  .text span{
    font-size: 10px;
  }
  .icons i{
    font-size: 12px;
  }
  .join{
    font-size: 12px;
  }
  
}