.container {
  /* min-height: 90%; */
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.submitt {
  width: 100%;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitt:hover {
  background-color: gray;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  font-weight: bold;
  text-align: center;
}

.text-sm {
  font-size: 14px !important;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}